*.pickl*.pickle
checkpoints
saved_models
*/lightning_logs/*
lightning_logs
*.pt
*.h5
*.p
*.png
*.jpg
*.pdf
*.save
/src/evd-papers/paper-3/pyAudioAnalysis/data/*
*.ipynb_checkpoints 
.vscode
__pycache__/
*.py[cod]
